fastapi
uvicorn[standard]
pandas
geopy
numpy
scikit-learn
joblib
pillow
requests
folium
jinja2
torch
torchvision
albumentations
opencv-python-headless
ultralytics
timm
google-genai
pystac-client
matplotlib
python-multipart
planetary-computer
geopandas
shapely
pyproj
rasterio
